@import '../../css/styles.css';

.footer {
  background-color: var(--primary-black);
  height: 185px;
  width: 100%;
  border-top: 1px solid var(--secondary-gray);
  padding: 32px 33px 32px 20px;
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;
  &__info {
    color: var(--primary-light-gray);
    margin-bottom: 8px;
    line-height: 17px;
    span {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  &__author {
    color: var(--secondary-gray);
    margin-bottom: 20px;
  }

  &__socials {
    display: flex;
    div {
      margin-right: 20px;
      height: 24px;
      width: 24px;
      border-radius: 100%;
      background-color: var(--primary-light-gray);
    }
  }
}
